header{
    color: white;
    background-color: rgb(58, 172, 248);
    padding: 8px;
}

.agenda-container{
    width: 100%;
    padding: 0 64px;
    background-color: whitesmoke;

    height: 100%;
    display: flex;
    justify-content: space-between;
}

.agenda-block{
    width: 33%;
    margin: 0 24px;
    margin-bottom: 24px;
}

.agenda-block-title{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.agenda-block-button{
    margin-top: 24px;
    width: 100%;
    
    text-align: center;
}